<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore>
		<!--<linkManager>
			<patch:attribute name="defaultProvider">custom</patch:attribute>
			<providers>
				<add name="custom" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="always" languageLocation="filePath" shortenUrls="true" useDisplayName="true"/>
			</providers>
		</linkManager>-->
		<links>
			<urlBuilder>
				<useDisplayName>true</useDisplayName>
			</urlBuilder>
		</links>	
	</sitecore>
</configuration>
